rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /categories/{categoryId} {
      allow read: if true;
    }

    match /deals/{dealId} {
      allow read: if true;
    }

    match /products/{productId} {
      allow read: if true;
    }

    match /stats/{statId} {
      allow read: if true;
    }

    match /stores/{storeId} {
      allow read: if true;
    }

    match /orders/{orderId} {
      allow write: if request.auth.uid == request.resource.data.user.uid;
      //This is temporary. Role based security is needed here for backoffice ops.
      allow read: if true; 
    }

    match /cart/{cartId} {
      allow read, write: if request.auth.uid == cartId;
    }

  }
}